@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 65, 85;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
  
  /* Setting up colors so they work with your theme */
  --color-navy-900: #0f172a;
}

.dark {
  --foreground-rgb: 248, 250, 252;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dark {
  --foreground-rgb: 248, 250, 252;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
